body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff5f8;
    text-align: center;
}

header {
    background: #ff7da1;
    padding: 20px;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 60px;
}

.btn {
    background: #ff7da1;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
}

button {
    background: #ff7da1;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

footer {
    background: #ffd6e0;
    padding: 15px;
    margin-top: 20px;
}
